<div class="login-screen">
  <div class="login-form">
    <div class="left-part"></div>
    <div class="right-part">
      <form>
        <div class="login-lock">
          <img src="../../../assets/images/login-lock.jpg" alt="Lock" />
        </div>
        <h3>Login Form</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="input-group">
          <input
            type="text"
            placeholder="Enter username"
            class="form-control"
          />
        </div>
        <div class="input-group">
          <input
            type="password"
            placeholder="Enter password"
            class="form-control"
          />
        </div>
        <div class="submit-action">
          <button type="submit" class="submit-btn">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
